@media(max-width:768px) { 
	.next-steps-container {
		.customer-next-steps-container {
			&.agent-next-steps-outer-container {
			    width: 100%;
			    .agent-next-steps-text-container {
				    width: 100%;
				    margin-left: 10px;
			    	.next-steps-text {
			    		margin-left: 15px;
			    	}
			    }
			    .agent-next-steps-container {
					width: 100%;
				    padding-left: 40px;
				    margin-right: 10px;
			    }
			}
		}
	}
}