@media(max-width:768px) {
    .all-questions-side-bar {
        width: 90%;
        margin-left: 5%;
    }
    .all-review-questions-container .all-questions-container {
        width: 90%;
        margin-left: 5%;
        padding-top: 615px;
    }
}