@media(max-width:768px) {
	.agent-success-page-container {
	    background-color: white;
	    .thanks-phone-img-container {
	    	text-align: center;
	    }
	    .confirmation-email-desc {
		    margin-left: 15px;
		    margin-right: 15px;
		    margin-top: 15px;
	    }
	    .agent-success-go-back-btn {
			position: fixed;
		    bottom: 15px;
		    left: 5px;
		    width: 98.5%;
	    }
	}
}