@media(max-width:768px) {
    .enter-password-modal-container.email-modal-unique-container {
        .modal-body {
            padding: 28px 25px 25px 25px !important;
        }
        .email-quote-text.email-quote-text-on-modal {
            font-size: 26px;
        }
        .modal-footer {
            padding-left: 31px !important;
        }
    }
    .enter-password-modal-container.email-modal-unique-container .modal-dialog {
        width: 94%;
    }
}