@media(max-width:768px) {
	.c-footer {

	}
	.cf-nav-main-header {
		.navbar-header img {
		    width: 147px;
	    	height: 24px;
	   		padding-left: 12px;
		}
		p.navbar-text {
			.header-text {
				margin-left: 0px;
				margin-top: 10px;
			}
			.navbar-links {
				font-size: 11px;
				margin-left: 28px;
				.first-link {
					margin-right: 15px;
				}
			}
		}
	}
}