@media(max-width:768px) {
	.product-pager-container {
		.no-product-outer-container {
			background-color: white;
			.no-product-container {	
			    margin-left: 45px;
		    	margin-right: 60px;
		    	margin-top: 15px;
			}
		}
	}
}