@media(max-width: 768px) {
	.product-pager-container .riders-outer-container .riders-container.c-center {
		padding-left: 41px!important;
	    padding-right: 15px;
	    width: 100%;
	}
	.product-pager-container .plans-selector-container{
		height: auto;
	    border-top: none;
	    box-shadow: none;
	    margin-top: 0px;
	    &.plans-selector-container-below-personinfo {
	    	margin-left: 0px;
	    	margin-right: 0px;
	    }
		.payment-schedule-text {
			padding-left: 0px;
		}
	}
	.product-pager-container {
		.one-person-plan-container {
			.single-plan-container {
				&.two-persons-plan-container {
					padding-right: 0px;
				}
			}
		}
		.plan-total-container {
			width: 100%;
		    background-color: #ffffff;
		    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
		    border: solid 1px #d4d4d4;
		    padding-left: 0%!important;
		    margin-left: 4%!important;
		    bottom: 80px;
		    .plans-selector-container {
		    	.plan-total-text {
					text-align: right;
				    margin-top: 2px;
				    margin-bottom: 16px;
		    	}
		    	.plan-total-amount {
		    		text-align: left;
    				margin-top: -4px;
		    	}
		    	.Select-value {
					padding-top: 5px;
			    }
		    }
		}
		.plans-product-header {
    		padding-top: 30px;
		    padding-bottom: 0px;
		    margin-left: 0px;
		    background-color: white;
			margin-top: 0px;
		    margin-bottom: 0px;
		    &.plans-product-header-below-personinfo  {
		    	margin-left: 15px;
		    }
		}
		.plan-schedule-container {
			margin-bottom: 30px;
			padding-right: 0px;
			.Select-input {
			    height: 44px;
			    border-radius: 2px;
			    background-color: #ffffff;
			}
			.Select-placeholder {
				padding-top: 4px;
			}
			.Select-value {
				padding-top: 5px;
			}
		}
		.all-plans-main-container {
		    width: auto;
		    margin-left: 30px!important;
		    margin-right: 30px!important;
		    margin-top: 15px;
		    .mobile-second-person-info-in-plan-container {
		    	.person-info-container.contains-two-persons.second-person {
		    		margin-left: 0px;
		    	}
		    }
		    .second-person-plan-container {
			    padding-left: 0px;
			    margin-top: 15px;
		    }
		    .single-plan-container.two-persons-plan-container {
		    	.plan-length-container .plan-length-container-selector {
		    		margin-top: 5px;
		    	}
		    	.plan-cost-text-two-person {
				    width: 50%;
				    margin-left: 15px;
		    	}
		    	.plan-cost-container .plan-cost-amount {
				    width: 45%;
				    display: inline-block;
		    	}
		    }
		}
		.plan-selector-outer-container {
			width: auto;
			margin-bottom: 0px!important;
		}
		.person-info-main-container {
			width: auto;
		}
		.continue-to-next-steps {
		    margin-right: 15px;
		    float: right;
		    width: 100%;
		    padding-left: 45px;
		}
		.riders-outer-container .c-center {
			padding-left: 41px;
		}
	}
	.product-pager-container .plan-details-container {
		.plan-length-container {
			border-left: none;
		}
		.plan-cost-container {
		    border-left: none;
		    font-size: 14px;
		    text-align: left;
		    color: #464646;
		    height: 56px;
		    padding-left: 0px;
		}
		.plan-sider-coverage-container {
			padding-bottom: 25px;
			border-bottom: solid 1px #d4d4d4
		}
	}
	.plan-details-container {
		.plan-sider-info-text {
		    border-top: solid 1px #d4d4d4!important;
		    border-bottom: solid 1px #d4d4d4!important;
		    border-left: none!important;
		    border-right: none!important;
		    .Select {
		    	border-radius: 2px;
		    	width: 94%;
		    	float: right;
		    	.Select-control {
		    		height: 40px;
		    	}
		    }
		}
		.plan-sider-info-text1{
		    padding-left: 15px;
		    padding-right: 15px;
		    padding-bottom: 15px;
		}
		.plan-product-name {
			margin-left: 0px;
		}
		.plan-sider-info-text .Select {
			width: 100%;
		    padding-left: 15px;
    		padding-right: 15px;
		}
		.plan-length-container {
		    border-left: none;
		    border-bottom: solid 1px #d4d4d4;
			height: 78px;
			.death-benefit-key-text {
				text-align: center;
			}
			.death-benefit-key-value {
				padding-top: 15px;
				text-align: center;
			}
			.plan-length-container-text {
				margin-left: 0px!important;
			    width: 30%!important;
			    float: left;
			    font-size: 14px;
			    margin-top: 37px!important;
			}
			.plan-length-container-selector {
			    width: 70%!important;
			    float: left;
			    margin-top: 21px;
		    	.Select-value {
					padding-top: 2px;
			    }
			}
		}
	}
}