@media(max-width:768px) { 
	.product-pager-container {
		.one-product-outer-container { 
			margin-left: 0px;
		}
		.person-info-container{
			margin-top: 0px;
			width: auto;
			.person-label {
			    display: inline-block;
			    width: 35%;
			    text-align: right;
			    margin-right: 6%;
			}
			.person-label-content { 
			    display: inline-block;
			    width: 40%;
			    text-align: left;
			}
		}
	}
	.person-info-main-container {
		width: auto;
	}
}