@media(max-width:768px) { 

	.product-pager-container {
		.all-persons-info-container {
			width: auto;
		}
		.all-products-info-container {
			width: 92%;
		}
		.one-product-outer-container { 
			margin-left: 0px;
		}
		.no-product-container {
		    margin-left: 15px;
		    margin-right: 30px;
		}
		.person-info-container{
			margin-top: 0px;
			width: auto;
			.person-info-header-container {
			    padding-top: 13px;
			    padding-bottom: 13px;
			}
			.person-label {
			    display: inline-block;
			    width: 35%;
			    text-align: right;
			    margin-right: 6%;
			}
			.person-label-content { 
			    display: inline-block;
			    width: 40%;
			    text-align: left;
			}
		}
	}
	.person-info-main-container {
		width: auto;
	}
}