@media(max-width:768px) {
    .fs18 {
        font-size: 16px!important;
    }
    .questions-container {
        width: 92%;
        .c-button-default.btn.circular.action {
            width: 100%;
        }
        .c-button-default.btn.circular.single-select-btn {
            min-width: 120px;
        }
        .questions-content-container {
            padding: 15px;
            margin-top: 15px;
            margin-bottom: 0px;
            .form-group .form-control.question-with-bottom-border {
                width: 88%;
            }
            .c-custom-select {
                width: 100%;
            }
        }

    }
}