@media(max-width: 768px) {
  .c-body {
    overflow-y: scroll;
  }
  .c-quote {
    .react-datepicker-wrapper {
      width: 68%;
    }
    .birth-date-picker-container .custom-date-picker-container .custom-date-picker img {
      left: 8%!important;
    }
    .c-one-person-container {

      .birth-date-picker-container span.test-class + div{
          width: 27%;
          label.control-label {
            width: 16%;
            margin-top: 0px;
            margin-bottom: 0px;
          }
        }
    }
    .two-person-outer-container {
      .c-submit-person-info-btn  {
        width: 92%;
        margin-left: 30px!important;
      }
    }
    .two-person-outer-container {
      width: 100%;
    }
    .c-quote .two-person-outer-container .one-person-content, .c-quote .two-person-outer-container .second-person-content {

    }
    .one-person-outer-container {
      .one-person-content {
        	width: auto;
          margin-left: 15px;
          margin-right: -15px;
      }
    }
	.one-person-outer-container {
		.c-submit-person-info-btn {
      width: 91.21%;
      padding-bottom: 15px;
      margin-left: 30px!important;
	    	.c-button-default.btn {
	        	width: 100%;
            border-radius: 2px!important;
	        }
	    }
    }
  }
  .c-button-default.btn.circular {
  	margin-top: 5px;
  }
}