@media(max-width:768px) {
  .before-select-persons {
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .c-select-persons-container {
    width: 100%;
    margin-top: 0px;
    padding-bottom: 15px;
    .c-select-one-person, .c-select-two-person {
      margin-left: 27px;
      margin-right: 28px;
      width: auto;
    }
    .quotation-msg-text-container {
      padding-left: 23px;
      padding-right: 15px;
    }
    .confirmation-msg.confirmation-msg-first-line {
      display: inline;
      padding-right: 0px;
      padding-left: 0px;
    }
    .confirmation-msg.confirmation-msg-second-line {
      display: inline;
      padding-left: 2px;
    }
    .c-selected-person-header {
      padding-left: 5px;
    }
    #select-no-of-persons-mobile-btn {
      margin-left: 14px;
      margin-right: 14px;
      margin-top: 93px;
    }
  }
  .c-select-persons-container .c-select-one-person img {
    width: 18%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 28px;
    max-width: 60px;
  }
  .c-select-persons-container .c-select-two-person img {
    width: 18%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 22px;
  }
}