@media(max-width:814px) {
	.cf-nav-main-header.navbar .container {
		padding-left: 15px;
		padding-right: 20px;
	}
	.cf-nav-main-header.navbar.subheader {
		font-size: 10px;
		.container {
			padding-left: 15px;
		    padding-right: 0%;	
		    margin-top: 14px;
		}
		.confirmation-header {
			&.gather-information-container {
				padding-left: 15px;
			}
			.gather-information {
				padding-right: 0px;
			}
		    &.next-steps {
		        padding-right: 30px;
		        padding-left: 0px;
		    	span {
    				padding-right: 0px;
		    	}
		    }
		    .product-selection-container {
				.product-selection {
					padding-left: 5px;
					padding-right: 10px;
					left: 17%;
				}
				&:before {
					content: "";
				    display: block;
				    border-top: solid 1px #ececec;
				    width: 90%;
				    height: 1px;
				    position: absolute;
				    top: 50%;
				    z-index: 1;
				    left: 6%;
		    	}
			}
		}
	}
}

@media(max-width:1172px) { 
	.cf-nav-main-header.navbar.subheader {
		font-size: 12px;
	}
	.cf-nav-main-header.navbar.subheader {
		font-size: 10px;
	}
}

@media(max-width:376px) { 
	.cf-nav-main-header.navbar.subheader {
		.confirmation-header {
			&.gather-information-container {
				padding-left: 15px;
				width: 30%;
			}
			&.product-selection-text-container {
				width: 45%;
			}
			.product-selection-container {
				.product-selection {
				    width: 80%;
				    left: 8%;
				}
			}
		}
	}
}