.agent-modal-container {
	.slot-label {
		margin-bottom: 10px;
	}
	.slot-input-container {
		.Select-control {
			font-size: 16px;
		}
		.Select-input {
			height: 40px;
		}
		.Select-menu-outer {
			font-size:16px;
		}
	}
	.okay-to-text-number {
		font-size: 14px;
	    text-align: left;
	    color: #666666;
	    margin-left: 5px;
	}
	.free-toll-no-text {
	    font-size: 14px;
	    text-align: center;
	    color: #999999;
	}
	.free-toll-no {
		font-weight: 500;
		color: #317dbd;
		text-align: center;
	}
}