.agent-modal-container {
	.slot-label {
		margin-bottom: 10px;
	}
	.slot-input-container {
		.Select-control {
			font-size: 16px;
		}
		.Select-input {
			height: 40px;
		}
		.Select-menu-outer {
			font-size:16px;
		}
	}
}