.next-steps-container {
	.customer-next-steps-container {
		&.agent-next-steps-outer-container {
		    margin-top: 60px;
			border-radius: 3px;
			width: 54.2%;
			max-width: 840px;
		    .agent-next-steps-text-container {
		    	width: 36%;
		    	padding-left: 20px;
		    	.next-steps-header, .next-steps-text {
		    		text-align: left;
		    		margin-left: 0px;
		    	}
		    	.next-steps-text {
		    		margin-top: 15px;
		    		color: #2D2D2D;
		    		font-size: 14.36px;
		    	}
		    }
		    .agent-next-steps-container {
			    float: right;
			    width: 62.23%;
			    padding-right: 20px;
			    padding-bottom: 4px;
		    }
		}
	}
}