.agent-modal-container {
	font-family: NunitoRegular;
	.agent-modal-submit-text-container {
		border-bottom: 1px solid #e5e5e5;
		padding-bottom: 25px;
	    margin-left: 0px;
	    margin-right: 0px;
		.agent-modal-submit-text {
		    font-size: 13px;
		    line-height: 1.46;
		    text-align: center;
		    color: #999999;
		    margin-left: 0px;
		    margin-right: 0px;
		    margin-top: 20px;
		}
	}
	.modal-body { 
		padding-bottom: 0px;
	}
	.modal-footer {
	    border-bottom: none;
	    border-top: none;
	    padding-top: 0px;
	    .c-center {
	    	.c-button-default.btn.circular {
	    		margin-top: 0px;
	    	}
	    }
	}
	.slot-label {
		margin-bottom: 10px;
	}
	.slot-input-container {
		.Select-control {
			font-size: 16px;
		}
		.Select-input {
			height: 40px;
		}
		.Select-menu-outer {
			font-size:16px;
		}
	}
	.okay-to-text-number {
		font-size: 14px;
	    text-align: left;
	    color: #666666;
	    margin-left: 5px;
	    .c-radio label {
			font-size: 14px;
		    text-align: left;
		    color: #666666;
		    font-weight: normal;
	    }
	}
	.free-toll-no-text {
	    font-size: 14px;
	    text-align: center;
	    color: #999999;
	}
	.free-toll-no {
		font-weight: 500;
		color: #317dbd;
		text-align: center;
	}
}