.all-group-header {
    color: #515151;
    font-family: Nunito-ExtraBold;
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 20px;
}

.all-group-questions-container {
    .person-gender-container {
        .row {
            margin-left: 0px;
        }
    }
    .async-auto-suggest-container  {
        .row {
            margin-left: 0px;
        }
    }
}