.async-auto-suggest-container {
    .row {
        margin-left: 0px;
    }
    .dropdown-menu {
        margin-left: 15px;
    }
    .input-group.input-group-toggle {
        padding-left: 15px;
    }
    .autosuggest {
        .input-group-btn {
            button {
                height: 44px;
            }
        }
    }
    input {
        height: 44px;
        border-radius: 2px;
        background-color: #ffffff;
        border: solid 1px #cccccc;
    }
    .autosuggest-choices {
        padding-top: 0px;
        height: 44px;
        .autosuggest-choice {
            margin-top: 13px;
            margin-left: 10px;
        }
    }
}