.async-auto-suggest-container {
    .row {
        margin-left: 0px;
    }
    ul.dropdown-menu {
        font-size: 16px;
        width:  95%;
    }
    .input-group.input-group-toggle {
        padding-left: 0px;
    }
    .autosuggest {
        .input-group-btn {
            button {
                height: 44px;
                visibility: hidden;
            }
        }
        .dropdown-menu {
            font-size: 16px;
            z-index: 1200;
            width: 50%;
            max-width: 300px;
        }
    }
    .autosuggest-choice-label {
        .tag {
            font-size: 16px;
        }
    }
    input {
        height: 44px;
        border-radius: 2px;
        background-color: #ffffff;
        border: solid 1px #cccccc;
    }
    .autosuggest-choices {
        .autosuggest-input-choice {
            input {
                font-size: 16px;
                //padding-top: 8px;
            }
        }
        padding-top: 0px;
        height: 44px;
        min-width: 300px;
        max-width: max-content;
        margin-bottom: 15px;
        .autosuggest-choice {
            margin-top: 12px;
            margin-left: 10px;
        }
    }
}