@media(max-width:768px) {
	.agent-page-container {
		background-color: white;
	    padding-left: 15px;
	    padding-right: 15px;
	    .contact-agent-phone-container {
	    	margin-left: 5px;
	    	margin-top: 30px;
	    }
	    .email-description {
	    	margin-top: 30px;
		    font-size: 14px;
		    text-align: left;
		    color: #666666;
	    }
	    .email-quote-text {
		    border-bottom: 1px solid #e5e5e5;
		    margin-left: -15px;
		    padding-top: 20px;
		    padding-bottom: 10px;
	    }
		.slot-input-container {
			.Select-input {
				height: 44px!important;
			}
			.Select-placeholder {
				padding-top: 5px;
			}
		}
		.okay-to-text-number {
			margin-top: 0px;
		}
		.contact-agent-text-submit-btn-container {
		    bottom: 15px;
			margin-right: 4px;
			margin-top: 10vh;
			padding-bottom: 15px;
			.email-quote-btn-container {
				margin-right: -42px;
			}
		    &.email-text-submit-btn-container {
				width: 100%;
				margin-top: 37vh;
		    }
		}
	}
}