.c-custom-select {
    .Select {
        .Select-control{
            .Select-value{
                line-height: 43px;
            }
        }
    }
}

.c-custom-select {
    .Select {
        .Select-control{
            .Select-multi-value-wrapper .Select-value{
                height: 49px;
                margin-bottom: 5px;
            }
        }
    }
}