@import "./commonMixins";
.custom-checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #515151;
}

/* Hide the browser's default checkbox */
.custom-checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.custom-checkbox-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-radius: 4px;
    border: solid 1px #4584c0;
}

/* On mouse-over, add a grey background color */
.custom-checkbox-container:hover input ~ .custom-checkbox-checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.custom-checkbox-container input:checked ~ .custom-checkbox-checkmark {
    background-color: #4584c0;
}

/* Create the checkmark/indicator (hidden when not checked) */
.custom-checkbox-checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.custom-checkbox-container input:checked ~ .custom-checkbox-checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.custom-checkbox-container .custom-checkbox-checkmark:after {
    left: 7px;
    top: 3px;
    width: 8px;
    height: 14px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}