form[name="form1"] > table {
    width: 54.17%;
}

form[name="form1"] > table > tbody > tr:first-child td {
    background-color: #317dbd;
    border-color: #317dbd;
    padding-left: 20px;
    height: 40px;
}

form[name="form1"] > table > tbody > tr > td > table {
    width: 100%;
}

form[name="form1"] > table > tbody > tr > td > table > tbody > tr:first-child > td > table  {
    width: 100%;
}

form[name="form1"] > table > tbody > tr > td > table > tbody > tr:first-child > td > table > tbody > tr:first-child td {
    background-color: #317dbd;
    border-color: #317dbd;
    padding-left: 20px;
    height: 40px;
}

form[name="form1"] > table > tbody > tr > td > table > tbody > tr:first-child > td > table > tbody > tr > td > table {
    width: 100%;
}

form[name="form1"] > table > tbody > tr > td > table > tbody > tr:first-child > td > table > tbody > tr > td > table > tbody > tr > td  {
    text-align: left;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
}

form[name="form1"] > table > tbody > tr > td > table > tbody > tr:first-child > td > table > tbody > tr > td > table > tbody > tr > td:first-child  {
    text-align: right;
}

p[align="center"] {
    font-size: 24px;
}

input[type="button"] {
    height: 44px !important;
    border-radius: 2px !important;
    background-color: #4584c0 !important;
    border: solid 1px #d4d4d4;
    color: #ffffff;
    width: 40%;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}

input[type="text"] {
    height: 44px !important;
}