.email-modal-container {
	&.email-modal-capture-container {
		.email-quote-text.email-quote-text-on-modal {
			text-align: left;
		}
		.email-description.email-description-on-modal {
			text-align: left;			
		}
		.email-label.email-label-on-modal {
			padding-left: 30px;
		}
		.modal-dialog {
			width: 34.72%;
		}
		.modal-footer {
			border-top: none;
		    padding-top: 0px;
		}
		.okay-to-text-number {
			font-size: 14px;
		    text-align: left;
		    color: #666666;
		    padding-top: 34px;
		    .c-radio label {
				font-size: 14px;
			    text-align: left;
			    color: #666666;
			    font-weight: normal;
		    }
		}
		.free-toll-no-text {
		    font-size: 14px;
		    text-align: center;
		    color: #999999;
		}
		.free-toll-no {
			font-weight: 500;
			color: #317dbd;
			text-align: center;
		}
		.agent-modal-submit-text-container {
			border-bottom: 1px solid #e5e5e5;
			padding-bottom: 25px;
		    margin-left: 0px;
		    margin-right: 0px;
			.agent-modal-submit-text {
			    font-size: 13px;
			    line-height: 1.46;
			    text-align: center;
			    color: #999999;
			    margin-left: 0px;
			    margin-right: 0px;
			    margin-top: 20px;
			}
		}
	}
}