.email-modal-container {
	&.agent-modal-container {
		.email-input-container {
			margin-top: -2px;
		}
		.modal-dialog {
			width: 35.72%;
		}
 	}
	&.email-modal-unique-container {
		.modal-footer {
		    border-top: 0px;
		    padding-top: 0px;
		    padding-left: 0px;
		    padding-right: 0px;
		}
		.email-label { 
			padding-left: 15px;
		}
		.email-input-container.email-input-container-on-modal {
			padding-left: 15px;
		}
		.modal-footer {
			border-top: none;
		    padding-top: 0px;
			.c-button-default.btn.circular {
			    margin-top: 0px;
			    margin-left: 15px;
			    margin-right: 18px;
			    width: 89%;
			    float: none;
			}
		}
	}
}
.email-modal-container {
	.email-quote-text {
		font-size: 22px;
	    line-height: 1.77;
	    text-align: left;
	    color: #333333;
	    margin-top: 15px;
	    margin-left: 0px;
	    &.email-quote-text-on-modal {
	    	text-align: center;
	    }
	}
	.email-label {
		font-size: 14px;
		line-height: 1.5;
		text-align: left;
		color: #666666;
		padding-left: 5px;
		&.email-label-on-modal {
			padding-left: 15px;
		}
	}
	.slot-input-container {
		padding-left: 5px;
	}
	.email-description {
		font-size: 13px;
		text-align: left;
		color: #999999;
		padding-left: 20px;
		&.email-description-on-modal {
			text-align: center;
			padding-left: 15px;
			color: #2D2D2D;
			font-size: 14.36px;
		}
	}
	.email-input-container {
		padding-left: 0px;
	    padding-right: 20px;
	    padding-top: 0px;
	    margin-top: -6px;
	    &.email-input-container-on-modal {
	    	padding-left: 15px;
	    }
		.form-group {
			line-height: 10px;
		    input {
			    border-radius: 2px;
			    background-color: #ffffff;
			    border: solid 1px #cccccc;
			    height: 42px;
		    }
		}
	}
}

.confirmation-email-text {
    font-size: 24px;
    text-align: center;
    color: #555555;
}

.confirmation-email-desc {
	font-size: 14px;
    line-height: 1.57;
    text-align: center;
    color: #333333;
}