.email-modal-container {
	.email-quote-text {
		font-size: 22px;
	    line-height: 1.77;
	    text-align: center;
	    color: #333333;
	}
	.email-label {
		font-size: 14px;
		line-height: 1.5;
		text-align: left;
		color: #666666;
	}
	.email-description {
		font-size: 13px;
		text-align: center;
		color: #999999;
	}
	.email-input-container {
		.form-group {
			line-height: 10px;
		}
	}
}