.enter-password-modal-container.email-modal-unique-container {
    font-family: NunitoRegular;
    .modal-body {
        padding: 78px 250px 25px 71px;
    }
    .modal-dialog {
        width: 50%;
    }
    .email-quote-text.email-quote-text-on-modal {
        font-size: 34px;
        font-weight: 600;
        letter-spacing: normal;
        text-align: left;
        color: #515151;
        margin-top: 0px;
    }
    .form-control.question-with-bottom-border {
        border: 0px;
        border-bottom: solid 1px #86868a;
        box-shadow: none;
        width: 60%;
    }
    .modal-footer {
        padding-bottom: 64px;
        padding-left: 71px!important;
    }
    .email-label.email-label-on-modal {
        color: #515151;
        font-size: 16px;
    }
    .modal-footer .c-button-default.btn.circular {
        float: left!important;
        width: 36%!important;
        margin-left: 0px!important;
    }
}