@import "./commonMixins";

.navbar-collapse {
    float: right;
    font-size: 16px;
    .navbar-nav {
        li {
            a {
                padding-top: 0;
                padding-bottom: 0;
                line-height: 70px;
            }
        }
    }
}
.navbar-brand {
    padding: 0px !important;
    vertical-align: middle;
    img {
        width: 50px;
        margin-right: 8px;
        vertical-align: middle;
        display: inline !important;
    }
    span {
        line-height: 70px;
        font-weight: 600;
    }
}

.navbar-default {
    width: 100%;
    top: 0px;
    position: fixed !important;
    z-index: 10;
    box-shadow: 0px 0px 16px 2px $grey3;
    border-color: $grey3;
}