.navbar-collapse {
    float: right;
}
.navbar-brand {
    padding: 0px !important;
    vertical-align: middle;
    img {
        width: 40px;
        margin-right: 8px;
        vertical-align: middle;
        display: inline !important;
    }
    span {
        line-height: 50px;
        font-weight: 600;
    }
}