.health-information-popup-modal {
    color: #515151;
    .modal-header, .modal-body {
        padding-left: 70px;
    }
    .modal-header {
        padding-top: 90px;
        font-size: 34px;
        font-weight: 600;
        font-family: NunitoBold;
        border-bottom: none;
        .close {
            margin-top: -80px;
            font-size: 60px;
        }
    }
    .modal-body {
        text-align: left;
        line-height: 1.6;
        padding-right: 290px;
        font-size: 16px;
    }
}

@media(max-width:768px) {
    .health-information-popup-modal {
        .modal-header, .modal-body {
            padding-left: 25px;
        }
        .modal-body {
            text-align: left;
            line-height: 1.6;
            padding-right: 40px;
            font-size: 16px;
        }
    }
}