.instant-id-check-popup-container {
    color: #515151;
    font-family: NunitoRegular;
    .instant-id-check-header {
        font-size: 34px;
        font-weight: 600;
        line-height: 1.5;
        text-align: left;
        color: #515151;
        margin-bottom: 30px;
    }
    .instant-id-check-desc {
        font-size: 16px;
        font-weight: 300;
        line-height: 1.6;
        text-align: left;
        margin-bottom: 60px;
    }
    .c-button-default.btn.circular {
        width: 30%;
        float: left;
    }
    .modal-big.modal-dialog {
        width: 54.24%;
        .modal-header {
            border-bottom: 0px;
            padding-bottom: 0px;
        }
        .modal-body {
            padding: 0px 130px 64px 71px;
        }
    }
}