.instant-id-check-popup-container {
    color: #515151;
    .instant-id-check-header {
        font-size: 34px;
        font-weight: 600;
        line-height: 1.5;
        text-align: left;
    }
    .instant-id-check-desc {
        font-size: 16px;
        font-weight: 300;
        line-height: 1.6;
        text-align: left;
    }
    .c-button-default.btn.circular {
        width: 30%;
        float: left;
    }
}