
.cf-left-navbar-fixed {
    overflow-x: hidden;
    &.navbar.navbar-inverse.navbar-fixed-side {
        width: 208px;
        font-size: 18px;
        letter-spacing: 0.4px;
        background-color: black;
    }
    &.navbar-fixed-side > .container-fluid .navbar-brand {
        &.cf-left-navbar-brand {
            margin: 12px 40px;
        }
    }
    .cf-bottom-logout-link {
        position: absolute;
        bottom: 20px;
        li {
            a {
                color: white;
                padding-left: 50px;
            }
        }
    }
}

.cf-left-navbar-list{
    float: left!important;
    width: 110%;
    li {
        &.active > a {
            background-color: #5dcdee!important;
        }
        a {
            color: white;
            padding: 12px;
            padding-left: 50px;
        }
    }
    a {
       img {
            padding-bottom: 6px;
            padding-right: 10px;
            padding-left: 10px;
        }
    }
}

.cf-leftnav-kitchens-list {
    text-align: center;
    border: none;
    font-family: "BrandonTextWeb-Light";
    height: 50px;
    background-color: #e4306e !important;
    padding-top: 13px;
    color: white;
    float: left;
    width: 100%;
}