.next-steps-container {
	.next-step-submit-btn-container {
	    margin-top: 0px;
	    padding-top: 0px;
	    width: 20.2%;
	    .next-step-submit-btn {
		    width: 100%;
		    margin-top: 16px;
		    margin-bottom: 124px;
	    }
	}
	.customer-next-steps-container {
		width: 54.17%;
	    background-color: #ffffff;
    	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    	border: solid 1px #d4d4d4;
    	margin-top: 110px;
    	.next-steps-header {
		    font-size: 22px;
		    line-height: 1.77;
		    text-align: center;
		    color: #333333;
		    margin-top: 22px;
    	}
    	.next-steps-text {
			font-size: 13px;
			text-align: center;
			color: #999999;
			margin-bottom: 30px;
		    margin-top: 23px;
		    margin-left: 0px;
    	}
    	.next-action-application-img-container {
		    padding-left: 16px;
		    padding-right: 8px;
    	}
    	.next-action-email-img-container {
			padding-left: 8px;
		    padding-right: 8px;
    	}
    	.next-action-phone-img-container {
		    padding-left: 8px;
		    padding-right: 16px;
    	}
    	.next-action-img-container {
		    height: 130px;
		    border-radius: 6px;
		    background-color: #ffffff;
		    border: solid 1px #d4d4d4;
		    img {
	    	    width: 30%;
                margin-left: 35%;
                margin-top: 38px;
		    }
		    .next-steps-tool-tips {
			    margin-top: 21px;
			    padding-left: 32px;
			    img {
				    margin-bottom: 7px;
				    width: 20px;
				    margin-top: 19px;
			    }
		    }
    	}
    	.next-steps-footer {
		    font-size: 14px;
		    font-weight: 500;
		    text-align: center;
		    color: #317dbd;
		    margin-top: 15px;
		    margin-bottom: 80px;
    	}
	}
}