.next-steps-container {
	.next-step-submit-btn-container {
		margin-top: 30px;
		width: 54.2%;
		padding-left: 0px;
		padding-right: 0px;
		max-width: 840px;
		.previous-btn-text {
			color: #4584c0;
			text-transform: uppercase;
			letter-spacing: 1.3px;
			font-family: NunitoBold;
			font-size: 14px;
			display: inline-block;
			width: auto;
			margin-left: 60px;
			cursor: pointer;
		}
	    .next-step-submit-btn {
			width: auto;
			margin-top: 10px;
			margin-bottom: 25px;
			margin-left: 60px;
			border-radius: 6px !important;
			&.back-btn {
				background-color: #fb4d3d!important;
			}
	    }
	}
	.customer-next-steps-container {
		width: 54.17%;
	    background-color: #ffffff;
    	box-shadow: 0 1px 4px 0 rgba(7, 4, 4, 0.14);
    	border: solid 1px #d4d4d4;
    	margin-top: 110px;
    	.next-steps-header {
		    font-size: 22px;
		    line-height: 1.77;
		    text-align: center;
		    color: #333333;
		    margin-top: 22px;
    	}
    	.next-steps-text {
			font-size: 14.36px;
			text-align: center;
			color: #2D2D2D;
			margin-bottom: 30px;
		    margin-top: 23px;
		    margin-left: 0px;
    	}
    	.next-action-application-img-container {
		    padding-left: 16px;
		    padding-right: 8px;
		    cursor: pointer;
    	}
    	.next-action-email-img-container {
			padding-left: 8px;
		    padding-right: 8px;
		    cursor: pointer;
    	}
    	.next-action-phone-img-container {
		    padding-left: 8px;
		    padding-right: 16px;
		    cursor: pointer;
    	}
    	.next-action-img-container {
		    height: 130px;
		    border-radius: 6px;
		    background-color: #ffffff;
		    border: solid 1px #d4d4d4;
		    &.active {
		    	border: solid 2px #317dbd;
		    }
		    &:hover {
		    	 border: solid 2px #317dbd;
		    }
		    img {
	    	    width: 30%;
                margin-left: 35%;
                margin-top: 38px;
		    }
		    .next-steps-tool-tips {
			    margin-top: 21px;
			    padding-left: 32px;
			    img {
				    margin-bottom: 7px;
				    width: 20px;
				    margin-top: 19px;
			    }
		    }
    	}
    	.next-steps-footer {
		    font-size: 14px;
		    font-weight: 500;
		    text-align: center;
		    color: #317dbd;
		    margin-top: 15px;
		    margin-bottom: 80px;
    	}
	}
}