.product-pager-container {
	.plan-selector-outer-container {
		width: 54.17%;
	}
	.person-info-main-container {
		padding-left: 0px;
    	padding-right: 0px;
    	width: 54.21%;
    	
	}
	.all-plans-main-container {
		width: 54.17%;
		.one-person-plan-container {
		    padding-left: 0px;
    		padding-right: 0px;
		}
	}
	.continue-to-next-steps {
	    margin-right: 21.8%;
	    float: right;
	    margin-top: 30px;
    	margin-bottom: 15px;
	}
	.plan-cost-text-two-person {
		display: none;
	}
	.single-plan-container {
		padding-left: 0px;
		padding-right: 0px;
		margin-bottom: 20px;
		&.two-persons-plan-container {
			padding-right: 10px;
			.blue-plan-container {
				display: none;
			}
			.plan-cost-text {
				display: none;
			}
			.plan-cost-text-two-person {
				display: inline-block;
			    line-height: 28px;
				font-size: 14px;
    			color: #464646;
    			padding-left: 0px;
    			width: 50%;
			}
			.plan-product-info-text {
			    width: 100%;
			    padding-left: 30px;
			    padding-right: 30px;
			    padding-bottom: 15px;
			}
			.plan-sider-coverage-container {
				width: 100%;
			}
			.plan-cost-container {
				border-left: none;
				width: 100%;
				.plan-cost-text {
					width: 50%;
				}
				.plan-cost-amount {
					width: 50%;
				}
			}
			.plan-sider-info-text {
				border-left: none!important;
			    border-right: none!important;
			    border-top: solid 1px #d4d4d4!important;
			    border-bottom: solid 1px #d4d4d4!important;
			}
			.plan-length-container {
			    width: 100%;
			    margin-top: 32px;
			    border-top: solid 1px #d4d4d4;
			    border-bottom: solid 1px #d4d4d4;
			    border-left: none;
			    .plan-length-container-text {
				    width: 38%;
				    display: inline-block;
				        margin-top: 40px!important;
			    }
			    .plan-length-container-selector{
				    display: inline-block;
				    width: 70%;
				    .Select {
				    	padding-top: 16px;
				    }
			    }
			}
		}
	}
	.one-person-plan-container {
		.single-plan-container {
			&.two-persons-plan-container {
				padding-right: 0px;
				padding-left: 0px;
			}
		}
	}

	.second-person-plan-container {
		padding-right: 0px;
    	padding-left: 7.5px;
		.single-plan-container {
			&.two-persons-plan-container {
				padding-left: 0px;
				padding-right: 0px;

			}
		}
	}
	.plans-product-header{
		margin-top: 53px;
		margin-bottom: 15px;
		.c-plans-product-text {
		    font-size: 22px;
    		text-align: left;
    		color: #333333;
		}
		.c-select-diff-product-link {
		    font-size: 14px;
		    text-align: right;
		    color: #317dbd;
		}
		.plans-product-header-text-container {
			width: 54.17%;
		}
	}	
	.plan-total-text {
	    font-size: 14px;	
	    color: #666666;
	    margin-top: 18px;
	}
	.plan-total-amount {
	    font-size: 22px;
	    text-align: left;
	    color: #009c91;
	    margin-top: 12px;
	}
	.plan-total-container {
		width: 54.17%;
		padding-left: 0px;
		padding-right: 0px;
	    position: fixed;
	    bottom: 50px;
	    z-index: 40;
	    margin-right: 25%!important;
	    margin-left: 23.5%!important;
		.plans-selector-container {
			margin-left: 0px;
		    margin-right: 0px;
		    .plan-total-text {
		    	color: #999999;
		    }
		}
	}
	.plans-selector-container {
	    height: 60px;
	    background-color: #ffffff;
	    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
	    border: solid 1px #d4d4d4;
	    margin-top: 32px;
	    .c-center {
			font-size: 14px;
		    text-align: left;
		    color: #666666;
		    padding-top: 20px;
	    }
	}
	.plan-details-container {
		margin-left: 0px;
	    margin-right: 0px;
		.select-this-product-container {
			height: 40px;
			border-radius: 6px;
			background-color: #ffffff;
 			font-size: 14px;
			font-weight: 500;
			text-align: center;
			color: #317dbd;
			padding-top: 10px;
			cursor: pointer;
			&:hover {
				background-color: #f7f7f7;
				border: solid 2px #317dbd;
				padding-top: 8px;
			}
			&.active {
				background-color: #317dbd;
				color: #ffffff;
			}
		}
		.c-center {
		    border-radius: 6px;
		    background-color: #ffffff;
		    border: solid 1px #d4d4d4;
		}
		.plan-product-name {
			font-size: 26px;
			text-align: left;
			color: #464646;
			margin-top: 20px;
		}
		.plan-sider-info-text1{
			font-size: 13px;
		}
		.plan-sider-info-text {
		    font-size: 13px;
		    line-height: 1.38;
		    text-align: left;
		    color: #666666;
		    background-color: #f7f7f7;
		    border: solid 1px #d4d4d4;
		    .plan-coverage-container {
		    	text-align: center;
		    	margin-top: 15px;
		    	.plan-faceMax {
		    		padding-left: 0px;
		    	}
		    }
		    .Select {
			    margin-top: 5px;
			    width: 82%;
			    margin-left: auto;
			    height: 40px;
			    margin-right: auto;
		    }
		}
		.plan-length-container, .plan-cost-container{
			border-left: solid 1px #d4d4d4;
    		height: 94px;
		}
		.plan-length-container {
			.plan-length-container-text {
				margin-left: 5px;
			}
		}
		.plan-cost-container {
			.plan-cost-text {
				padding-top: 7px;
			}
			.plan-cost-amount {
			    font-size: 22px;
			    font-weight: 500;
			    text-align: right;
			    color: #464646;
			    font-family: ProximaNova-Medium;
			}
		}
  	}
}
