.product-pager-container {
	.plan-selector-outer-container {
		width: 54.17%;
	}
	.person-info-main-container {
		padding-left: 0px;
    	padding-right: 0px;
    	width: 54.21%;

	}
	.all-plans-main-container {
		width: 54.17%;
		.one-person-plan-container {
		    padding-left: 0px;
    		padding-right: 0px;
		}
	}
	.continue-to-next-steps {
	    margin-right: 23.4%;
	    float: right;
	    margin-top: 30px;
    	margin-bottom: 15px;
	}
	.plan-cost-text-two-person {
		display: none;
	}
	.single-plan-container {
		padding-left: 0px;
		padding-right: 0px;
		margin-bottom: 20px;
		&.two-persons-plan-container {
			padding-right: 10px;
			.blue-plan-container {
				display: none;
			}
			.plan-cost-text {
				display: none;
			}
			.plan-cost-text-two-person {
				display: inline-block;
			    line-height: 28px;
				font-size: 14px;
    			color: #464646;
    			padding-left: 0px;
    			width: 50%;
			}
			.plan-product-info-text {
			    width: 100%;
			    padding-left: 30px;
			    padding-right: 30px;
				padding-bottom: 15px;
				height: 230px;
    			overflow-y: scroll;
			}
			.plan-sider-coverage-container {
				width: 100%;
			}
			.plan-cost-container {
				border-left: none;
				width: 100%;
				.plan-cost-text {
					width: 50%;
				}
				.plan-cost-amount {
					width: 50%;
				}
			}
			.plan-sider-info-text {
				border-left: none!important;
			    border-right: none!important;
			    border-top: solid 1px #d4d4d4!important;
			    border-bottom: solid 1px #d4d4d4!important;
			}
			.plan-length-container {
			    width: 100%;
			    margin-top: 32px;
			    border-top: solid 1px #d4d4d4;
			    border-bottom: solid 1px #d4d4d4;
				border-left: none;
			    .plan-length-container-text {
				    width: 38%;
				    display: inline-block;
						margin-top: 40px!important;
						&.death-benefit-key-text {
							width: 48%;
							margin-top: 0px!important;
						}
			    }
			    .plan-length-container-selector{
				    display: inline-block;
					width: 70%;
					position: relative;
					left: 25px;
					&.death-benefit-key-value {
						width: 50%;
					}
				    .Select {
				    	padding-top: 16px;
				    }
			    }
			}
		}
	}
	.one-person-plan-container {
		.single-plan-container {
			&.two-persons-plan-container {
				padding-right: 5px;
				padding-left: 0px;
			}
		}
	}

	.second-person-plan-container {
		padding-right: 0px;
    	padding-left: 7.5px;
		.single-plan-container {
			&.two-persons-plan-container {
				padding-left: 0px;
				padding-right: 0px;

			}
		}
	}
	.plans-product-header{
		margin-top: 48px;
		margin-bottom: 7px;
		.c-plans-product-text {
		    font-size: 22px;
    		text-align: left;
    		color: #333333;
		}
		.c-select-diff-product-link {
		    font-size: 14px;
		    text-align: right;
		    color: #317dbd;
			cursor: pointer;
			line-height: 29px;
		}
		.plans-product-header-text-container {
			width: 54.17%;
		}
	}
	.plan-total-text {
	    font-size: 14px;
	    color: #666666;
	    margin-top: 18px;
	}
	.plan-total-amount {
	    font-size: 22px;
	    text-align: left;
	    color: #009c91;
	    margin-top: 12px;
	}
	.plan-total-container {
		width: 54.17%;
		padding-left: 0px;
	    position: fixed;
	    bottom: 50px;
	    z-index: 40;
	    margin-right: 25%!important;
		margin-left: 23.5%!important;
		&.hidden-xs {
			z-index: 1110;
		}
		.plans-selector-container {
			margin-left: 20px;
			margin-right: -33px;
		    .plan-total-text {
		    	color: #999999;
		    }
		}
	}
	.plans-selector-container {
	    height: 60px;
	    background-color: #ffffff;
	    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
	    border: solid 1px #d4d4d4;
	    .c-center {
			font-size: 14px;
		    text-align: left;
		    color: #666666;
		    padding-top: 20px;
	    }
	}
	.plan-details-container {
		margin-left: 0px;
	    margin-right: 0px;
		.select-this-product-container {
			height: 40px;
			border-radius: 5px;
			border-top-left-radius: 0px;
    		border-top-right-radius: 0px;
			background-color: #ffffff;
 			font-size: 14px;
			font-weight: 500;
			text-align: center;
			color: #317dbd;
			padding-top: 10px;
			cursor: pointer;
			&:hover {
				background-color: #f7f7f7;
				border: solid 2px #317dbd;
				border-top-left-radius: 0px;
    			border-top-right-radius: 0px;
				padding-top: 8px;
			}
			&.active {
				background-color: #317dbd;
				border-top-left-radius: 0px;
    			border-top-right-radius: 0px;
				color: #ffffff;
			}
		}
		.c-center {
		    border-radius: 6px;
		    background-color: #ffffff;
		    border: solid 1px #d4d4d4;
		}
		.plan-product-name {
			font-size: 26px;
			text-align: left;
			color: #464646;
			margin-top: 20px;
			&.agent-page {
				margin-top: 45px;
			}
		}
		.plan-sider-info-text1{
		    font-size: 14.36px;
			color: #2D2D2D;
			margin-bottom: 20px;
			margin-right: 20px;
		}
		.plan-sider-info-text {
		    font-size: 13px;
		    line-height: 1.38;
		    text-align: left;
		    color: #666666;
		    background-color: #f7f7f7;
			border: solid 1px #d4d4d4;
			border-left: 0px;
			border-right: 0px;
		    .plan-coverage-container {
		    	text-align: center;
		    	margin-top: 15px;
		    	.plan-faceMax {
		    		padding-left: 0px;
		    	}
		    }
		    .Select {
			    margin-top: 5px;
			    width: 82%;
			    margin-left: auto;
			    height: 40px;
			    margin-right: auto;
		    }
		}
		.plan-length-container, .plan-cost-container{
			border-left: solid 1px #d4d4d4;
    		height: 94px;
		}
		.plan-length-container {
			.plan-length-container-text {
				margin-left: 5px;
			}
			.death-benefit-key-text {
				padding-top: 40px;
			}
			.death-benefit-key-value {
				text-align: left;
				margin-left: 5px;
			}
		}
		.plan-cost-container {
			.plan-cost-text {
				padding-top: 7px;
			}
			.plan-cost-amount {
			    font-size: 22px;
			    font-weight: 500;
			    text-align: right;
			    color: #464646;
			}
		}
  	}
		.product_image{
		    background-size: 100% 100%;
		    width: 100%;
		    height: 150px;
		}
		.spwl_image{
		    background-image: url("/dist/images/spwl@2x.png");
				@extend .product_image;
		}
		.whole_life_image{
		    background-image: url("/dist/images/whole-life@2x.png");
				@extend .product_image;
		}
		.whole_life_plus_image{
		    background-image: url("/dist/images/whole-life-plus@2x.png");
				@extend .product_image;
		}
		.term_image{
		    background-image: url("/dist/images/term-life@2x.png");
				@extend .product_image;
		}
		.term_rop_image{
		    background-image: url("/dist/images/term-rop@2x.png");
				@extend .product_image;
		}
		.guarented_golden_image{
		    background-image: url("/dist/images/guarented_golden@2x.png");
				@extend .product_image;
		}
		.default_image{
		    background-image: url("/dist/images/timmer.png");
		    width: 66px;
		    height: 90px;
		}
}

.product-pager-container .second-person-plan-container .single-plan-container.two-persons-plan-container {
	.default_image {
		background-size: 100% 100%;
    	width: 100%;
    	height: 150px;
	}
}
@media (min-width: 750px) and (max-width: 1200px) {
	.product-pager-container .plan-details-container .plan-cost-container .plan-cost-amount {
		padding-left: 5px;
		font-size: 14px;
		margin-top: 6px;
	}

}

@media (min-width: 750px) and (max-width: 1100px) {
	.product-pager-container .plan-details-container .plan-sider-info-text .plan-face-val-slider {
		padding-left: 35px;
		padding-right: 0px;
	}
	.product-pager-container .plan-details-container .plan-sider-info-text .plan-faceMax {
		padding-left: 5px;
	}
	.c-button-default.btn.circular {
		font-size: 12px;
	}
	.product-pager-container .plan-details-container .plan-sider-info-text .plan-coverage-container {
		.s-face-amount {
			font-size: 22px;
		}
	}
}

@media (min-width: 750px) and (max-width: 850px) {
	.c-button-default.btn.circular {
		font-size: 10px;
	}
}
@media (min-width: 750px) and (max-width: 1300px) {
	.product-pager-container .single-product-container.rider-container .single-product-content .header {
		font-size: 15px;
	}
	.product-pager-container .plan-details-container .plan-cost-container .plan-cost-amount {
		font-size: 16px;
		margin-top: 4px;
	}
	.product-pager-container .plan-total-amount {
		font-size: 17px;
		padding-right: 0px;
		margin-top: 14px;
	}
	.product-pager-container .plan-total-container .plans-selector-container .plan-total-text {
		padding-left: 0px;
		padding-right: 10px;
		font-size: 12px;
	}
	.product-pager-container .plan-details-container .plan-cost-container .plan-cost-text {
		padding-left: 0px;
	}
}

@media (min-width: 613px) and (max-width: 850px) {
	.product-pager-container .plan-details-container .plan-cost-container .plan-cost-amount {
		padding-left: 5px;
		font-size: 13px;
		margin-top: 7px;
	}
}
@media (min-width: 613px) and (max-width: 750px) {
	.product-pager-container .plan-details-container .plan-cost-container .plan-cost-amount {
		padding-left: 10px;
		font-size: 16px;
	}
	.product-pager-container .plan-details-container .plan-cost-container .plan-cost-text {
		padding-left: 0px;
	}
	.product-pager-container .plan-total-amount {
		font-size: 15px;
	}

}

