.fs18 {
    font-size: 18px!important;
}
.fs16 {
    font-size: 16px!important;
}

.questions-container {
    .Select-control {
        .Select-placeholder {
            font-size: 16px!important;
        }
    }
    .Select-value-label {
        font-size: 16px!important;
    }
    .siblings-container {
        border-radius: 3px;
        background-color: #ffffff;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.14);
        border: solid 1px #d4d4d4;
        padding: 40px;
        margin-top: 50px;
    }
    padding-bottom: 60px;
    width: 65.23%;
    .question-action-btn-container {
        button {
            text-transform: uppercase;
        }
        padding-top: 15px;
    }
    .Select-placeholder {
        padding-top: 4px;
    }
    .birth-date-picker-container {
        padding-left: 0px;
        span.test-class + div {

        }
        .form-group {
            width: 65%;
        }
        span.test-class + div label.control-label {
            width: 15%;
        }
        .custom-date-picker-container {
            .custom-date-picker {
                img {
                    left: 3.5%;
                    top: 13px;
                }
            }
        }
    }
    .form-group {
        label {
            font-size: 18px;
            line-height: 1.5;
            text-align: left;
            color: #666666;
            font-weight: normal;
        }
        input {
            &.form-control {
                height: 44px;
                border-radius: 2px;
                background-color: #ffffff;
                border-bottom: solid 1px #cccccc;
                box-shadow: none;
            }
        }
    }
    .Select-input {
        height: 44px;
    }
    .questions-content-container {
        margin: 40px;
        border-radius: 3px;
        background-color: #ffffff;
        padding: 40px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 50px;
        .main-loader {
            font-size: 150px;
            margin-bottom: 70px;
        }
        .c-custom-select {
            width: 50%;
        }
        .form-group {
            .form-control {
                &.question-with-bottom-border {
                    border: none;
                    border-bottom: 1px solid rgb(204, 204, 204);
                    width: 100%;
                    transition: width border-bottom 500ms ease-out;
                    &:focus {
                        border-bottom: 2px solid #317dbd;
                    }
                }
            }
        }
    }
    .single-select-btn-container {
        display: inline;
        padding-right: 15px;
        margin-left: 15px;
    }
    .c-button-default.btn.circular {
        margin-top: 10px;
        background-color: #4584c0!important;
        &.action {
            width: 30%;
        }
        &.next-step-btn {
            background-color: #fb4d3d!important;
            margin-right: 30px;
        }

        &.single-select-btn {
            border-radius: 22px!important;
            background-color: #ffffff!important;
            border: solid 2px #c7c7c7;
            font-family: ProximaNova-Semibold;
            font-size: 14px;
            font-weight: 600;
            color: #c7c7c7;
            width: 200px;
            padding-left: 20px;
            padding-right: 20px;
            &:hover {
                color: #317dbd!important;
            }
            &.active  {
                border: solid 2px #317dbd;
                color: #317dbd!important;
            }
        }
    }
}

.cf-nav-main-header.navbar {
    &.bread-crumb-container  {
        border: none;
        box-shadow: none;
        margin-top: -3px;
        min-height: 95px;
        .dynamic-bread-crumb.active {
            .gather-information {
                font-family: Nunito;
                font-weight: 800;
            }
        }
        .container {
            padding-left: 18%;
            padding-right: 0px;
            margin-top: 38px;
            .gather-information-container {
                margin-right: 20px;
                margin-left: 20px;
                &:first-child {
                    margin-left: 0px;
                }
                .gather-information {
                    position: relative;
                    font-size: 13px;
                    &:after {
                        content: "";
                        display: block;
                        border-top: solid 1px #ececec;
                        width: 20px;
                        height: 1px;
                        position: absolute;
                        top: 50%;
                        z-index: 1;
                        left: calc( 100% + 9px );
                    }
                    &.last-child:after {
                        content: "";
                        display: block;
                        border-top: solid 0px #ececec;
                        width: 0px;
                        height: 1px;
                        position: absolute;
                        z-index: 1;
                    }
                }
            }
        }
    }
}