@import "./commonMixins";
.fs18 {
    font-size: 18px!important;
}
.fs16 {
    font-size: 16px!important;
}

.questions-container {
    .react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range {
        background-color: $btn-default-bg-color!important;
    }
    .react-datepicker__day-name, .react-datepicker__day {
        width: 2.7rem!important;
    }
    .react-datepicker {
        font-size: 1.4rem;
    }
    .react-datepicker__month {
        margin: 1rem;
    }
    .react-datepicker-popper {

    }
    .react-datepicker-wrapper {
        width: 30%;
    }
    .custom-input-unit-label {

    }
    .questions-sub-group-header {
        font-family: NunitoRegular;
        font-size: 24px;
        font-weight: 800;
        line-height: 1.18;
        color: #515151;
        margin-left: 0px;
        margin-bottom: 30px;
    }
    .single-add-primary-beneficiary-text {
        font-size: 24px;
        font-weight: 800;
        line-height: 1.18;
        text-align: left;
        color: #515151;
        font-family: Nunito-ExtraBold;
        margin-bottom: 20px;
        cursor: pointer;
    }
    .primary-beneficiary-main-header {
        font-size: 30px;
        line-height: 1.5;
        color: #333333;
        margin-top: 30px;
    }
    .help-text {
        margin-top: 12px;
        max-width: 555px;
        letter-spacing: 1.3px;
        text-align: left;
        color: #9999a3;
    }
    .question-action-btn-container {
        button {
            letter-spacing: 1.3px;
        }
        .previous-btn-text {
            color: #4584c0;
            text-transform: uppercase;
            letter-spacing: 1.3px;
            font-family: NunitoBold;
            font-size: 14px;
            display: inline-block;
            width: 100px;
            margin-left: 20px;
            cursor: pointer;
            &:hover {
                color: #B6DBFF;
            }
        }
    }
    .Select-control {
        .Select-placeholder {
            font-size: 16px!important;
        }
    }
    .Select-value-label {
        font-size: 16px!important;
    }
    .siblings-container {
        border-radius: 3px;
        background-color: #ffffff;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.14);
        border: solid 1px #d4d4d4;
        padding: 40px;
        margin-top: 50px;
        &.generic-beneficiary-container {
            margin-top: 20px;
        }
    }
    padding-bottom: 60px;
    width: 65.23%;
    .question-action-btn-container {
        button {
            text-transform: uppercase;
        }
        padding-top: 15px;
    }
    .Select-placeholder {
        padding-top: 4px;
    }
    .birth-date-picker-container {
        padding-left: 0px;
        span.test-class + div {

        }
        .form-group {
            width: 65%;
        }
        span.test-class + div label.control-label {
            width: 13%;
        }
        .custom-date-picker-container {
            .custom-date-picker {
                img {
                    left: 3.5%;
                    top: 13px;
                }
            }
        }
    }
    .form-group {
        label {
            font-size: 18px;
            line-height: 1.5;
            text-align: left;
            color: #666666;
            font-weight: normal;
        }
        input {
            &.form-control {
                height: 44px;
                border-radius: 2px;
                background-color: #ffffff;
                border-bottom: solid 1px #cccccc;
                box-shadow: none;
            }
        }
    }
    .Select-multi-value-wrapper {
        .Select-input {
            height: 44px;
        }
    }
    .Select-input {
        height: 44px;
    }
    .questions-content-container {
        margin: 40px;
        border-radius: 3px;
        background-color: #ffffff;
        padding: 40px;
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 50px;
        padding-top: 10px;
        .main-loader {
            font-size: 150px;
            margin-bottom: 70px;
        }
        .c-custom-select {
            width: 50%;
        }
        .custom-input-unit-label {
            font-size: 20px;
            padding-left: 5px;
        }
        .form-group {
            .form-control {
                &.question-with-bottom-border {
                    border: none;
                    border-bottom: 1px solid rgb(204, 204, 204);
                    width: 50%;
                    max-width: 300px;
                    transition: border-bottom 500ms ease-out;
                    display: inline-block;
                    margin-bottom: 15px;
                    &:focus {
                        border-bottom: 2px solid #317dbd;
                    }
                }
            }
        }
    }
    .siblings-container {
        .c-custom-select {
            width: 50%;
        }
        .form-group {
            .form-control {
                &.question-with-bottom-border {
                    border: none;
                    border-bottom: 1px solid rgb(204, 204, 204);
                    width: 50%;
                    max-width: 300px;
                    transition: border-bottom 500ms ease-out;
                    display: inline-block;
                    margin-bottom: 15px;
                    &:focus {
                        border-bottom: 2px solid #317dbd;
                    }
                }
            }
        }
    }
    .single-select-btn-container {
        display: inline;
        padding-right: 15px;
        margin-left: 15px;
    }
    .c-button-default.btn.circular {
        margin-top: 0px;
        background-color: #4584c0!important;
        &.action {
            width: auto;
        }
        &.next-step-btn {
            background-color: #fb4d3d!important;
            margin-right: 30px;
            &.previous-btn-text {
                background-color: transparent!important;
                border: none;
                color: #4584c0;
                box-shadow: none;
                &:hover {
                    color: #B6DBFF!important;
                    border: none;
                    box-shadow: none;
                }
            }
        }
        &:focus {
            outline: -webkit-focus-ring-color auto 5px;
            outline-color: -webkit-focus-ring-color;
            outline-style: none;
            outline-width: 0px;
        }

        &.single-select-btn {
            border-radius: 22px !important;
            background-color: #ffffff !important;
            border: solid 2px #c7c7c7;
            font-family: ProximaNova-Semibold;
            font-size: 14px;
            font-weight: 600;
            color: #c7c7c7;
            min-width: 200px;
            padding-left: 20px;
            padding-right: 20px;
            display: inline-block;
            width: auto;
            &:hover {
                color: #317dbd!important;
            }
            &.active  {
                border: solid 2px #317dbd;
                color: #317dbd!important;
            }
        }
    }
}

.cf-nav-main-header.navbar {
    &.bread-crumb-container  {
        border: none;
        box-shadow: none;
        margin-top: -3px;
        min-height: 95px;
        .dynamic-bread-crumb.active {
            .gather-information {
                font-family: Nunito;
                font-weight: 800;
            }
        }
        .container {
            padding-left: 18%;
            padding-right: 0px;
            margin-top: 38px;
            .gather-information-container {
                margin-right: 20px;
                margin-left: 20px;
                &:first-child {
                    margin-left: 0px;
                }
                .gather-information {
                    position: relative;
                    font-size: 16pt;
                    &:after {
                        content: "";
                        display: block;
                        border-top: solid 1px #ececec;
                        width: 20px;
                        height: 1px;
                        position: absolute;
                        top: 50%;
                        z-index: 1;
                        left: calc( 100% + 9px );
                    }
                    &.last-child:after {
                        content: "";
                        display: block;
                        border-top: solid 0px #ececec;
                        width: 0px;
                        height: 1px;
                        position: absolute;
                        z-index: 1;
                    }
                }
            }
        }
    }
}

.question-action-btn-container.questions-content-container.Add-a-Primary-Benefi {
    font-size: 24px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: left;
    color: #515151;
    font-family: Nunito-ExtraBold;
    .Add-a-Primary-Benefi-description-text {
        font-family: NunitoRegular;
        font-size: 16px;
        font-weight: normal;
        color: #464646;
        margin-left: -15px;
        margin-top: 20px;
    }
    button {
        float: right;
        font-family: NunitoRegular;
        line-height: normal;
        letter-spacing: 1.3px;
        width: auto!important;
    }
}