@import "./commonMixins";
.Select-control {
	.Select-clear {
		display: none;
	}
}
.c-quote {
	background-color: #fcfcfc;
    padding-bottom: 60px;
	.header {
	    text-align: center;
	    font-size: 34px;
	    line-height: 1.5;
	    color: #333333;
	    margin-top: 33px;
	    margin-bottom: 20px;
	}
	.c-subheader-text {
	  font-size: 14px;
	  line-height: 1.5;
	  color: #666666;
      &.error {
	  	color: red;
	  	margin-top: 3px;
      }
	}
	.one-person-outer-container {
		.c-submit-person-info-btn  {
			width: 20.21%;
		}
	}
	.two-person-outer-container {
		.c-submit-person-info-btn  {
			width: 36%;
		}
	}
	.c-submit-person-info-btn  {

		.c-button-default.btn {
			margin-top: 15px;
    		width: 100%;
		}
	}
	.c-person-header-text {
		font-size: 20px;
		font-weight: 500;
		line-height: 1.65;
		text-align: left;
		color: #464646;
		box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
		border-bottom: solid 1px #d4d4d4;
	    height: 80px;
	    padding-top: 21px;
	}
	.c-one-person-container {
		.birth-date-picker-container span.test-class + div{
			display: inline-block;
			width: 27%;
			label.control-label {
				width: 23%;
			    margin-top: 0px;
			    margin-bottom: 0px;
			}
		}
		.birth-date-picker-container {
			.form-group {
				.form-group {
					display: inline-block;
					width: 74%;
					.input-group {
						width: 100%;
						display: inline-block;
						input {
							width: 100%;
						}
					}
				}
			}
		}
		box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
		border: solid 1px #d4d4d4;
		background-color: rgb(255, 255, 255); padding-left: 0px;
		padding-right: 0px;
		padding-bottom: 35px;
	    .form-group {
	    	label {
				font-size: 14px;
			    line-height: 1.5;
			    text-align: left;
			    color: #666666;
			    margin-top: 15px;
			    font-weight: 400;
	    	}
	    	&.radio-group {
	    		.radio {
	    			margin-top: 3px;
	    		}
	    		label {
	    			margin-top: 2px;
	    		}
	    	}
	    }
	    .input-border-error {
	    	.Select-control {
	    		border: none;
	    	}
	    }
	    .Select-control {
		    border-radius: 2px;
		    background-color: #ffffff;
		    border: solid 1px #cccccc;
		    height: 44px;
		    .Select-placeholder {
		    	padding-top: 4px;
		    }
		    .Select-value {
		    	padding-top: 4px;
		    }
		    .Select-clear {
		    	display: none;
		    }
	    }
	    .Select--single {
	    	width: 40%;
	    	display: inline-block;
	    	.Select-menu-outer {
	    		.is-focused {
					background-color: #317dbd;
					color: #ffffff;
	    		}
	    	}
	    }
	    input {
	    	&.form-control {
				border-radius: 2px;
			    background-color: #ffffff;
			    border: solid 1px #cccccc;
			    width: 40%;
			    height: 44px;
	    	}
	    }
	}
	.c-calendar-container {
		width: 58px;
	    display: inline-block;
	    height: 44px;
	    border-radius: 2px;
	    background-color: #f7f7f7;
	    border: solid 1px #cccccc;
	    line-height: 43px;
	    text-align: center;
	    border-right: 0px;
	    &+ div {
	    	display: inline-block;
	    }
	}
	#change_handler_example_0_group {
	    display: inline-block;
	    width: 77%;
	    line-height: 20px;
		.input-group-addon {
			display: none;
		}
	}
	#change_handler_example_1_group {
	    display: inline-block;
	    width: 77%;
	    line-height: 20px;
		.input-group-addon {
			display: none;
		}
	}
	.two-person-outer-container {
	    .custom-date-picker-container {
		    .custom-date-picker {
			    img {
				    left: 8.1%!important;
			    }
		    }
	    }
	}
    .custom-date-picker-container {
	    color: #333333;
	    background-repeat: no-repeat;
	    background-position: 20px 11px;
	    width: 100%;
	    height: 44px;
	    border-radius: 2px;
	    background-color: #ffffff;
	    .custom-date-picker {
		    float: left;
		    display: inline-block;
		    width: 100%;
		    height: 44px;
		    border-radius: 2px;
		    background-color: #f7f7f7;
		    border: solid 1px #cccccc;
		    border-right: none;
		    img {
			    position: absolute;
				top: calc(24%)!important;
			    left: 4.1%!important;
		    }
	    }
	    input {
		    height: 44px;
		    border-radius: 2px;
		    padding-left: 9%;
		    border: solid 1px #cccccc;
		    width: 75%;
	    }
    }
    .c-coverage-amount {
	    font-size: 34px;
	    line-height: 1.5;
	    color: #333333;
		margin-top: 60px;
		width: 92%;
		margin-left: auto;
		margin-right: auto;
    }
    .l-next-step-container {
	    .p-display-name {
		  font-size: 18px;
		  font-weight: bold;
		  line-height: 1.22;
		  text-align: left;
		  color: #333333;
		  margin-top: 29px;
	    }
	    .p-per-month {
	   		font-size: 14px;
			line-height: 1.57;
			text-align: right;
			color: #999999;
	    }
	    .p-increment-val {
			font-size: 24px;
			font-weight: 600;
			text-align: right;
			color: #555555;
	    }
	    &.active {
		    .p-display-name {
				color: #ffffff;
		    }
		    .p-per-month {
				color: #ffffff;
		    }
		    .p-increment-val {
				color: #ffffff;
		    }
	    }
    }
    .confirmation-header {
	    font-size: 24px;
	    font-weight: 600;
	    text-align: left;
	    color: #555555;
	    margin-top: 30px;
	    margin-bottom: 50px;
    }
    .confirmation-msg {
		font-size: 14px;
	    color: #666666;
	    margin-bottom: 20px;
    }
    .confirmation-email {
	  font-size: 14px;
	  line-height: 1.5;
	  color: #666666;
    }
    .confirmation-email-input {
	    input {
		    height: 44px;
		    border-radius: 2px;
		    background-color: #ffffff;
		    border: solid 1px #cccccc;
		    margin-bottom: 75px;
	    }
    }
    .two-person-outer-container {

    	width: 54.2%;
    	.one-person-content, .second-person-content {
		    background-color: rgb(255, 255, 255);
		    padding-left: 0px;
		    padding-right: 0px;
		    width: 49%;
		}
    	.second-person-content {
    		float: right;
		}
    	.one-person-content {

		}
		.c-one-person-container {
		    input {
		    	&.form-control {
					width: 85%;
		    	}
		    }
		    .Select--single {
		    	width: 85%;
		    }
			.birth-date-picker-container span.test-class + div{
				display: inline-block;
				width: 54%;
			}
		}
		.react-datepicker__input-container input {
			padding-left: 9%;
		}
    }
   .one-person-outer-container {
    	.one-person-content {
		    margin-left: auto;
		    margin-right: auto;
		    float: none;
		    background-color: #fff;
			width: 54.2%;
		    padding-left: 0px;
		    padding-right: 0px;
    	}
    }
    .person-name-container {
    	.form-group {
    		margin-bottom: 0px;
    	}
    }
    .person-gender-container {
    	.radio-group.form-group {
    		margin-bottom: 0px;
    		.radio {
    			margin-bottom: 0px;
    		}
    	}
    }
    .person-tobacco-container {
    	.radio-group.form-group {
    		margin-bottom: 0px;
    		.radio {
    			margin-bottom: 0px;
    		}
    	}
    }
}

.confirmation-header {
	&.next-steps {
	    text-align: left;
	    padding-left: 0px;
	    padding-right: 0px;
	    display: inline-block;
	    margin-left: 3.3%;
	}
    &.col-xs-4, &.gather-information-container, &.next-steps {
    	font-weight: 500;
    	color: #999999;
    	&.active {
    		color: #317dbd;
    	}
    }
    .hr-container {
		display: inline-block;
	    width: 70%;
	    border-top: 1px solid #eaeaea;
	    box-shadow: 0px 4px 2px -2px rgba(0, 0, 0, 0.2);
	    align-content: center;
	    text-align: center;
	    vertical-align: middle;
    	hr {
		    margin: auto;
		    padding-bottom: 3px;
    	}
    }
	&.product-selection-text-container {
	    float: left;
	    display: inline-block;
	    width: 55%;
    }
    .product-selection-container {
		position: relative;
		.product-selection {
			background: #fff;
		    position: relative;
		    z-index: 5;
		    left: 25%;
		    text-align: center;
		    display: inline-block;
		    padding-left: 5.5%!important;
		    padding-right: 5.5%!important;
		}
		&:before {
			content: "";
		    display: block;
		    border-top: solid 1px #ececec;
		    width: 100%;
		    height: 1px;
		    position: absolute;
		    top: 50%;
		    z-index: 1;
    	}

	}
}

	.cf-nav-main-header {
		p.navbar-text {
			.header-text {
				margin-left: 50%;
			}
		}
	}