@import "./commonMixins";

.c-quote {
	.header {
	    text-align: center;
	    font-size: 34px;
	    line-height: 1.5;
	    color: #333333;
	    margin-top: 33px;
	    margin-bottom: 30px;
	}
	.c-subheader-text {
	  font-size: 14px;
	  line-height: 1.5;
	  color: #666666;
      &.error {
	  	margin-top: 13px;
	  	color: red;
      }
	}
	.c-person-header-text {
		font-size: 20px;
		font-weight: 500;
		line-height: 1.65;
		text-align: left;
		color: #464646;
		box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
		border-bottom: solid 1px #d4d4d4;
	    height: 80px;
	    padding-top: 21px;
	}
	.c-one-person-container {
		box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
		border: solid 1px #d4d4d4;
		background-color: rgb(255, 255, 255); padding-left: 0px; 
		padding-right: 0px; 
		padding-bottom: 35px;
	    .form-group {
	    	label {
				font-size: 14px;
			    line-height: 1.5;
			    text-align: left;
			    color: #666666;
			    margin-top: 15px;
	    	}
	    }
	    .Select-control {
		    border-radius: 2px;
		    background-color: #ffffff;
		    border: solid 1px #cccccc;
		    width: 35%;
		    height: 44px;
		    .Select-placeholder {
		    	padding-top: 4px;
		    }
	    }
	    input {
	    	&.form-control {
				border-radius: 2px;
			    background-color: #ffffff;
			    border: solid 1px #cccccc;
			    width: 35%;
			    height: 44px;
	    	}
	    }
	}
	.c-calendar-container {
	    display: inline-block;
	    height: 44px;
	    border-radius: 2px;
	    background-color: #f7f7f7;
	    border: solid 1px #cccccc;
	    line-height: 43px;
	    width: 8%;
	    text-align: center;
	    border-right: 0px;
	    &+ div {
	    	display: inline-block;
	    }
	}
    .react-datepicker__input-container input {
	    color: #333333;
	    padding-left: 12px;
    }
    .c-coverage-amount {
	    font-size: 34px;
	    line-height: 1.5;
	    color: #333333;
	    margin-top: 60px;
    }
    .l-plan-container {
	    .p-display-name {
		  font-size: 18px;
		  font-weight: bold;
		  line-height: 1.22;
		  text-align: left;
		  color: #333333;
		  margin-top: 29px;
	    }
	    .p-per-month {
	   		font-size: 14px;
			line-height: 1.57;
			text-align: right;
			color: #999999;
	    }
	    .p-increment-val {
			font-size: 24px;
			font-weight: 600;
			text-align: right;
			color: #555555;
	    }
	    &.active {
		    .p-display-name {
				color: #ffffff;
		    }
		    .p-per-month {
				color: #ffffff;
		    }
		    .p-increment-val {
				color: #ffffff;
		    }	    
	    }
    }
    .confirmation-header {
	    font-size: 24px;
	    font-weight: 600;
	    text-align: left;
	    color: #555555;
	    margin-top: 30px;
	    margin-bottom: 50px;
    }
    .confirmation-msg {
		font-size: 14px;
	    color: #666666;
	    margin-bottom: 20px;
    }
    .confirmation-email {
	  font-size: 14px;
	  line-height: 1.5;
	  color: #666666;
    }
    .confirmation-email-input {
	    input {
		    height: 44px;
		    border-radius: 2px;
		    background-color: #ffffff;
		    border: solid 1px #cccccc;
		    margin-bottom: 75px;
	    }
    }
    .two-person-outer-container {
    	.one-person-content, .second-person-content {
		    background-color: rgb(255, 255, 255);
		    padding-left: 0px;
		    padding-right: 0px;
		}
    	.second-person-content {
    		margin-left: 15px;
		}
    	.one-person-content {
		   margin-left: 18%;
		}
    }
   .one-person-outer-container {
    	.one-person-content {
		    margin-left: auto; 
		    margin-right: auto;
		    float: none;
		    background-color: #fff;
    	}
    }
}

.confirmation-header {
    &.col-sm-4 {
    	font-weight: 500;
    	margin-top: 11px;
    	color: #999999;
    	&.active {
    		color: #317dbd;
    	}
    }
    .hr-container {
		display: inline-block;
		width: 80px;
		margin-left: 10%;
    	hr {
		    margin: auto;
		    padding-bottom: 3px;
    	}
    }
}