
@import "./commonMixins";
.before-select-persons {
  padding-bottom: 358px;
  background-color: #ffffff;
}
.c-select-persons-container {
  width: 54.17%;
  max-width: $container-max-width;
  margin-left: auto;
  margin-right: auto;
  float: none!important;
  background-color: white;
  margin-top: 60px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  border: solid 1px #d4d4d4;
  .confirmation-msg-container {
    margin-left: 3.5%;
    margin-top: 45px;
  }
  .confirmation-msg {
    font-size: 14.36px;
    line-height: 1.38;
    text-align: left;
    color: #2D2D2D;
    margin-left: 0.5%;
    margin-bottom: 25px;
  }
  .c-select-one-person {
    float: right;
    max-width: 200px;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(212, 212, 212);
    height: 140px;
    margin-right: 10%;
    margin-top: 23px;
    width: 25.64%;
    cursor: pointer;
    img {
      display: none;
      &.default-image {
        display: block;
      }
      &.hover-image, &.active-image {
        display: none;
      }
    }
    &.active {
      color: #317DBD;
      border: 2px solid #317DBD;
      p {
        color: #317DBD;
      }
      img {
        &.default-image, &.hover-image {
          display: none;
        }
        &.active-image {
          display: block!important;
        }
      }
    }
    img {
      width: 30%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 30px;
      max-width: 80px;
    }
    p {
      margin-top: 16.36px;
      text-align: center;
    }
  }
  .c-select-two-person:hover {
    border: solid 2px #B6DBFF;
    color: #B6DBFF;
    img {
      &.default-image, &.active-image {
        display: none;
      }
      &.hover-image {
        display: block;
      }
    }
  }
  .c-select-one-person:hover {
    border: solid 2px #B6DBFF;
    color: #B6DBFF;
    img {
      &.default-image, &.active-image {
        display: none;
      }
      &.hover-image {
        display: block;
      }
    }
  }
  .c-select-two-person {
    float: right;
    max-width: 200px;
    margin-right: 25px;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(212, 212, 212);
    margin-top: 23px;
    height: 140px;
    margin-bottom: 27px;
    cursor: pointer;
    width: 25.64%;
    &.active {
      border: 2px solid #317DBD;
      color: #317DBD;
      p {
        color: #317DBD;
      }
      img {
        &.hover-image, &.default-image {
          display: none;
        }
        &.active-image {
          display: block!important;
        }
      }
    }
    img {
      width: 30%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 30px;
      max-width: 80px;
    }
    img {
      &.hover-image, &.active-image {
        display: none;
      }
      &.default-image {
        display: block;
      }
    }
    p {
      margin-top: 16.36px;
      text-align: center;
    }
  }
  .c-selected-person-header {
    font-size: 22px;
    font-weight: 500;
    text-align: left;
    color: #464646;
    margin-left: 1%;
  }
}